{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- ADD THESE LINES HERE -->
    <meta name="description" content="ABFverify - Secure SMS verification and virtual number platform">
    <meta property="og:title" content="ABFverify">
    <meta property="og:description" content="Secure SMS verification and virtual number platform">
    <meta property="og:image" content="{% static 'images/mylogo1.png' %}">
    <meta name="google-site-verification" content="dB107PkjCje9eLimA_JTSOO689oGJhHYKb1RD-cJY6A" />

    <!-- Privacy-friendly analytics by Plausible -->
    <script async src="https://plausible.io/js/pa-XPxZ8G9FaD0vXL5jswvJX.js"></script>
    <script>
      window.plausible=window.plausible||function(){(plausible.q=plausible.q||[]).push(arguments)},plausible.init=plausible.init||function(i){plausible.o=i||{}};plausible.init()
    </script>

    <title>{% block title %}ABFverify{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/base.css' %}">

    {% block css %}{% endblock %}
</head>
<body>

{% block content %}

{% endblock %}

<script src="{% static 'js/main.js' %}"></script>

{% block js %}{% endblock %}

</body>
</html>